<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
<footer class="page-footer green" style="margin-top: 0" th:fragment="footer">
    <div class="container">
        <div class="row" id="footer-info">
            <div class="col l6 s12">
                <h5 class="white-text">邮箱</h5>
                <p><a class="grey-text text-lighten-4" href="mailto:2357846676@qq.com">2357846676@qq.com</a></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">链接</h5>
                <ul>
                    <li><a class="grey-text text-lighten-4" href="https://nuotian.furry.pro/blog" target="_blank">诺天的博客</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright deep-green darken-3">
        <div class="container center" id="footer-copyright">
                Copyright © 2022 NuoTian
        </div>
    </div>
</footer>
</html>